body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    font-family: 'Akaya Telivigala', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
}

:root {
    --light-blue-color: #3b9dec;
    --dark-blue-color: #01579b;
    --grey-color: #424242;
    --text-color: #fff;
    --dark-text-color: #333;
    --message-toast-error: #d32f2f;
    --message-toast-success: #4caf50;
    --message-toast-info: #03a9f4;
    --portal-element-background: rgba(0, 0, 0, 0.5);
    --javascript-color: #f0db4f;
    --npm-color: #cc3534;
    --future-projects-color: #68a063;
    --books-color: #d32f2f;
    --nodejs-color: #3c873a;
    --reactjs-color: #61dbfb;
    --css-color: #264de4;
    --mongodb-color: #3fa037;
    --dark-theme-bgcolor: #212121;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.link {
    text-decoration: none;
    padding: 0.75rem;
    font-size: 1.25rem;
    color: var(--text-color);
    position: relative;
}
