.taskContainer {
    position: relative;
    height: 60px;
    margin-bottom: 5px;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    border-left: 7px solid var(--dark-blue-color);
    background-color: #f5f5f5;
    transition: border 0.3s ease-in-out;
}

.done {
    border-left: 7px solid var(--message-toast-success);
}

.subtask {
    margin-left: 50px;
}

.taskActions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    right: 0.2rem;
}

.taskActionsSection {
    display: flex;
    flex-direction: column;
}

.task-title-container {
    width: 50%;
    position: relative;
}

.task-title {
    height: 3em;
    line-height: 1.5em;

    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.task-title:hover div {
    opacity: 1;
}

.taskContainer:hover .taskActions {
    opacity: 1;
    pointer-events: all;
}

.delete-icon {
    color: var(--message-toast-error);
}

.edit-icon {
    color: var(--dark-blue-color);
}

.mark-as-done-icon {
    color: var(--message-toast-success);
}

.taskContainer:hover .tags {
    opacity: 1;
}

.tags {
    /* opacity: 0; */
    transition: opacity 0.2s ease-in-out;
    width: calc(42% - 80px);
    max-height: 58px;
    min-height: 28px;
    display: inline-block;
    overflow: hidden;
}
