.page-wrapper {
    padding: 0 2rem 0 2.5rem;
    left: 70px;
    display: flex;
    position: relative;
    width: calc(100% - 70px);
    margin-top: 5rem;
    color: var(--dark-blue-color);
    min-height: calc(100vh - 5rem);
    /* background-color: ???; */
}

.vertical {
    flex-direction: column;
}

.darkTheme {
    color: var(--text-color);
}
