.page-wrapper {
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 5rem;
    color: var(--dark-blue-color);

    /* background-color: ???; */
}

.darkTheme {
    color: var(--text-color);
}
