.subtitleWrapper {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 3rem;
    align-items: center;
}

.subtitle {
    line-height: 1.5;
    text-transform: capitalize;
}
