.button {
    border: none;
    padding: 0.8rem 1.3rem;
    border-radius: 0.5rem;
    text-transform: capitalize;
    font: inherit;
    cursor: pointer;
    position: relative;
    box-shadow: 2px 3px 3px var(--portal-element-background);
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
}

.button-light-theme {
    background-color: var(--dark-blue-color);
    color: var(--text-color);
}

.button-dark-theme {
    background-color: var(--text-color);
    color: var(--dark-blue-color);
}

.button:hover {
    transform: scale(1.02);
    opacity: 1;
}

.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.companion {
    box-shadow: none;
}

.companion::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    border-radius: 0.5rem;
    background-color: white;
}
