.iconButtonWrapper {
    position: relative;
}

.iconButton {
    border: 0;
    padding: 0.2rem;
    border-radius: 50%;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.iconButton:hover {
    background-color: lightgray;
}

.iconButton svg {
    font-size: 1.5rem;
}

.iconButtonWrapper:hover .tooltip {
    opacity: 1;
}

.tooltip {
    position: absolute;
    white-space: nowrap;
    left: -50%;
    top: 45px;
    background-color: rgba(20, 20, 23, 0.5);
    padding: 0.2rem 0.5rem;
    color: var(--text-color);
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}
