.iconButtonWrapper {
    position: relative;
}

.iconButton {
    border: 0;
    padding: 0.2rem;
    border-radius: 50%;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.iconButton:hover {
    background-color: lightgray;
}

.iconButton svg {
    font-size: 1.5rem;
}

.iconButtonWrapper:hover div {
    opacity: 1;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}
