.sideBar {
    display: flex;
    padding: 5rem 0;
    flex-direction: column;
    height: 100vh;
    background-color: var(--dark-blue-color);
    justify-content: space-evenly;
    white-space: nowrap;
    transition: width 0.2s ease-in-out;
    position: fixed;
}

.sideBar--width {
    width: 70px;
}

.sideBar--width:hover {
    width: 250px;
}

.sideBar--width--inBackdrop {
    min-width: 250px;
}

.sideBar--span span {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.sideBar--span:hover span {
    opacity: 1;
}

.sideBarLinkWrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    opacity: 0.85;
    transition: all 0.3s ease-in-out;
    padding: 0 0.5rem;
    border-radius: 3rem;
}

.sideBarLinkWrapper:hover {
    transform: scale(1.08);
    opacity: 1;
}

.sideBarLinkWrapper::after {
    content: '';
    position: absolute;
    border-top: 0.45rem solid transparent;
    border-bottom: 0.45rem solid transparent;
    border-right: 0.45rem solid #fff;
    right: -0.5rem;
    transform: translateX(30px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.sideBarLinkWrapper:hover::after {
    transform: translateX(5px);
    opacity: 1;
}

.icon {
    font-size: 1.75rem;
    color: var(--text-color);
    margin-right: 1rem;
}

.classOnClick {
    background-color: rgba(255, 255, 255, 0.2);
}

.darkTheme {
    background-color: var(--dark-theme-bgcolor);
    border-right: 1px solid var(--text-color);
}
