.tag {
    max-width: 150px;
    min-height: 11px;
    min-width: 11px;
    padding: 7px 8px 8px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1;
    letter-spacing: 0.2px;
    border-radius: 4px;
    cursor: pointer;
}

.high-priority {
    background-color: var(--message-toast-error);
}

.low-priority {
    background-color: var(--low-priority-tag);
}

.up-next {
    background-color: var(--light-blue-color);
}

.remember {
    background-color: var(--remember-tag);
}

.design {
    background-color: var(--nodejs-color);
}

.bugs {
    background-color: var(--bugs-tag);
}

.in-progress {
    background-color: var(--message-toast-error);
}

.investigate {
    background-color: var(--message-toast-info);
}

.test {
    background-color: var(--test-tag);
}

.blocker {
    background-color: var(--blocker-tag);
}
