.titleWrapper {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1.5rem;
    align-items: center;
}

.title {
    font-weight: bold;
    line-height: 1.5;
    text-transform: capitalize;
    font-size: 3rem;
    color: var(--dark-blue-color);
}
