.navbar {
    display: flex;
    background-color: var(--text-color);
    justify-content: flex-end;
    padding: 1rem 2rem;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    width: calc(100% - 250px);
    z-index: 100;
}

.navbar-icon {
    font-size: 1.25rem;
    color: var(--dark-blue-color);
}
