.navbar {
    display: flex;
    background-color: var(--text-color);
    justify-content: flex-end;
    padding: 1rem 2rem;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    left: 70px;
    width: calc(100% - 70px);
    z-index: 3;
}

.navbar-icon {
    font-size: 1.25rem;
    color: var(--dark-blue-color);
}

.navbar-icon-dark-theme {
    color: var(--text-color);
}

.darkTheme {
    background-color: var(--dark-theme-bgcolor);
}

@media only screen and (max-width: 768px) {
    .navbar {
        width: 100%;
    }
}
